#CartPrice {
    border: 3px solid black;
    font-size: 20px;
    margin: 0;
    width: 25%;
    padding: 10px;
    padding-left: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}