:root {
    --gray-background: #111;
    background-color: #eee;
}

body {
    font: Arial, Helvetica, sans-serif,
    
}

h1 {
    justify-content: center;
    text-align: center;
}

nav {
    background-color:var(--gray-background) ;
}

nav a{
    font-size: 20pt;
    color: white;
    margin: 20px; 
    text-decoration: none;
    display: inline-block;
}
nav a:hover {
    color: white;
    padding: 0px;
    margin: 20px;
    text-decoration: underline;
}

header {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}


img {
    height: 100px;
    width:100px;
}
table {
    border:1px solid black;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: left;
    padding: 5px;
    width: 25em;
}

tr {
    width: 50%;
    height: auto;
}

form {
    font: 14px Arial;
    background-color: #eee;
    padding: 10px;
    width: 400px;
    margin-left: 35%;
    margin-top: 5%;
 }
 
 form h1 {
    margin-top: 5px;
 }
 
 .hide {
    display: none;
 }
 
 #formErrors {
    color: red;
 }
 
 input[type=text], input[type=email], input[type=password] {
    width: 400px;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
 }
 
 input[type=text]:focus {
    background-color: lightblue;
 }
 
 input[type=submit] {
    width: 100%;
    color: white;
    background-color: #09f;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 
 input[type=submit]:hover {
    background-color: #07d;
 }
 
 input.error  {
    border: 2px solid red;
 }



